@import "~bulma/sass/utilities/_all";

.headerImage {
  & > div {
    @include mobile {
      padding-bottom: var(--mobile-bg-height) !important;
    }

    @include tablet-only {
      padding-bottom: var(--tablet-bg-height) !important;
    }

    @include desktop {
      padding-bottom: var(--desktop-bg-height) !important;
    }

    @include fullhd {
      padding-bottom: var(--fullhd-bg-height) !important;
    }
  }
}
