@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/derived-variables.sass";
@import "~spinthatshit/src/loaders.scss";

$spinner-size: 1rem;

.spinnerWrapper {
  width: 5 * $spinner-size;
  height: 5 * $spinner-size;
}

.spinner {
  @include loader07($size: $spinner-size, $color: $info, $align: center);
  top: 50%;
  transform: translateY(-50%);
}
