@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/derived-variables.sass";

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey-lighter;
}
