.navbar {
  & > .container {
    display: flex !important;
    justify-content: space-between;
  }

  .navbar-brand {
    display: inline-flex;

    .navbar-item > img {
      max-height: 36px;
    }
    .navbar-burger {
      margin: 0 auto 0 0;
    }

    @include touch {
      & > a:first-child {
        display: none;
      }
    }
  }

  @include touch {
    & > .container > .navbar-menu.is-active {
      position: absolute;
      width: 100%;
      top: $navbar-height;
    }
  }

  .navbar-menu {
    @include desktop {
      .navbar-start {
        margin: 0 auto;
      }
    }
  }

  .navbar-end {
    display: inline-block;
  }

  & .navbar-item,
  & .navbar-link {
    font-size: 0.925rem;
    text-align: center;
    text-transform: uppercase;
  }
}
