.virtualWalk {
  width: 100%;

  @include mobile {
    height: 350px;
  }

  @media only screen and (max-width: 520px) {
    height: 275px;
  }

  @include tablet-only {
    height: 450px;
  }

  @include desktop {
    height: 600px;
  }
}

.calendar {
  flex-grow: 1;
  width: 100%;
  min-height: 500px;
  padding: 8px;
  border: solid #e3e9ff 2px;
  border-radius: 4px;
}

.logos {
  display: flex;
  justify-content: center;

  a + a {
    margin-left: 1rem;
  }
}
